*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home,
.database,
.layout,
.margoCart,
.analytics{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

body {
  background: linear-gradient(180deg, #649DB4 13.68%, #8EC7DE 29.74%, #8EC7DE 41.41%, #A6DAEF 100%);
  overflow-x: hidden;
  background-repeat: no-repeat;
  min-height: 100vh;
}